html {
  height: 100%;
  background-image: linear-gradient(to top, white, black);
}

body {
  /* background-color: black; */
  /* color: white; */
}

.centered {
  position: fixed;
  top: 0;
  left: 10%;
}

.right {
  float: right;
}

.left {
  float: left;
}

div#column {
  float: left;
}

div#bar {
  text-align: center;
  color: white;
  font-family: Verdana;
  margin-top: 2%;
}

img#arrow {
  padding-top: 10px;
}

div#desired_speed {
  display: inline-block;
  font-size: 15px;
  padding-right: 50px;
  padding-bottom: 10px;
}

div#current_speed {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 40px;
}

div#desired_speed_value {
  font-size: 50px;
}

div#current_speed_value {
  font-size: 40px;
}

div#current_speed_units {
  font-size: 10px;
}

img#steeringWheel {
  padding-right: 20px;
}

div#navigation {
  float: right;
  margin: 117px 0 0 20px;
}

img#liveImg {
  border: 1px solid white;
  border-radius: 5px;
}

div#navigation img {
  position: absolute;
  left: 1220;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  border: 1px solid lightyellow;
  border-radius: 5px;
}

div#navigation img.transparent {
  opacity:0;
}

div#debug_values {
  color: white;
  font-family: "Lucida Console";
  font-size: 12px;
  float: right;
  margin: 110px 0 0 20px;
}