[camera]
camera.type = raw/usb/h264/udp
camera.uri = /dev/video0
camera.source.shape = 640x480
camera.udp.host = 192.168.1.100
camera.udp.port = 5000
camera.udp.shape = 320x240
camera.udp.bitrate = 1024000
camera.output.shape = 480x320
camera.output.bitrate = 1024000
camera.output.class = http-live